[Unit]
Description=Sirius RF Calc - IOC
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
RestartSec=10
Type=simple

WorkingDirectory=/opt/cas-rf-calc/iocBoot/ioccalc
ExecStart=/usr/local/bin/procServ -L - --allow -f \
    --chdir /opt/cas-rf-calc/iocBoot/ioccalc 20210 ./st.cmd

StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
